<footer id="fot" class="fot_container">
  <div class="fot_div">
    <div class="fot_social">
      <h2>SOCIAL MEDIA</h2>
      <p>Follow and share</p>
      <ul class="fot_ul">
        <li><a href="https://github.com/austineoduor"><i class="fa fa-github"></i> GitHub</a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fa fa-youtube"></i> YouTube</a></li>
    </ul>
    </div>
    <div class="fot_cont_info">
      <h2>CONTACTS & PORTFOLIO</h2>
      <p>You are welcome to explore my portfolio and feel free to contact me regarding collaborations and opportunities.</p>
      <p><a href="mailto:austinengonga@yahoo.com"><i class="fa fa-envelope-open"></i> Email Me</a></p>
    </div>
  </div>
  <div class="fot_copy">
    <hr>
    <p>MONIQUECODES &#8482;</p>
    <p>&copy; 2025 All Rights Reserved</p>
  </div>
</footer>
