<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <title>{% block title %}Index{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'Users/Register_Login.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>    
    <body>
        <!-- <section class="container">
            <div class="content">
                {% block profile %}
                {% endblock profile %}
            </div>
        </section> -->

        <section class="container">
            <div class="content">
                <div class="form_container" data-show-register="{% if show_register %}true{% else %}false{% endif %}">
                    <div class="reg-login">
                        <div id="log" class="form-login">
                            {% include 'Users/login.html'%}
                        </div>
                        <div id="reg" class="form-register">
                            {% include 'Users/register.html' %}
                        </div>
                    </div>
                    <div class="panels-container">
                        <div class="panel left-panel">
                            <div class="content">
                                <h3>Already a Member ?</h3>
                                <p>Please Login</p>
                                <button class="btn" id="sign-in-btn">Login</button>
                            </div>
                            <img src="{% static 'images/signin.svg' %}" alt="" class="image">
                        </div>
                        <div class="panel right-panel">
                            <div class="content">
                                <h3> New To The Platform ?</h3>
                                <p>Please register to enjoy</p>
                                <button class="btn" id="sign-up-btn">Register</button>
                                
                            </div>
                            <img src="{% static 'images/signup.svg' %}" alt="" class="image">
                        </div>
                    </div>
                </div>
            </div>
            <script src="{% static 'js/log_reg.js' %}"></script>
        </section>
    </body>
</html>