{% extends "base.html" %}
{% load static %}
{% block title %} Application {% endblock %}
{% block content %}

<div class="apply-course-container">
    <h1>Applying for {{ course.name }}</h1>

    <div class="course-info">
        <h2>Course Description</h2>
        <p>{{ course.description }}</p>
    </div><br><br>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {%  if not user_course or user_course.status == "not_applied" %}
    <form action="{% url 'apply_course' course.id %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="has_stable_power">
                <input type="checkbox" name="has_stable_power" id="has_stable_power" required> 
                I have stable power supply
            </label>
        </div><br>

        <div class="form-group">
            <label for="has_laptop">
                <input type="checkbox" name="has_laptop" id="has_laptop" required> 
                I have a laptop to use for the course
            </label>
        </div><br>

        <div class="form-group">
            <label for="agree_to_terms">
                <input type="checkbox" name="agree_to_terms" id="agree_to_terms" required> 
                I agree to the <a href="#" target="_blank">Terms and Conditions</a>
            </label>
        </div><br>
        <!-- Add location field -->
        <div class="form-group">
            <label for="location">Location/Country:</label>
            <input type="text" name="location" id="location" value="{{ user_data.location }}" required>
        </div><br>

        <!-- Add about field -->
        <div class="form-group">
            <label for="about">About:</label>
            <textarea name="about" id="about" rows="4" required {{ user_data.about }}></textarea>
            <p id="word-count" class="word-count">Word count: 0/250</p>
        </div><br>
        <div class="form-group">
            <button type="submit" class="btn">Submit Application</button>
        </div>
    </form>
    {% else %}
    <button class="btn applied" disabled>Already Applied</button>
    {%endif%}
</div>

{% endblock %}