{% extends "index.html" %}
{%  block login %}
    <form action="{% url 'login_' %}" method="POST">
    {% csrf_token %}
        <div class="field-pos">
            <fieldset>
                <div class="form-h">
                    <legend> Login</legend>
                </div>
                <div id="" class="form-fields">
                    {% if messages %}
                        <div class="err">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                            
                        </div>
                    {% endif %}
                    <label for="mailUsername">Email/Username</label>
                    <input type="text" id="mainlUsername" name="username" required><br>
                    <input type="hidden" name="next" value="{{request.GET.next}}">
                    <label for="pwd">Password</label>
                    <input type="password" id="pwd" name="pwd" required><br><br>
                    <input type="submit" value="Submit">
                </div>
                <p class="account-text">Don't have an account? <a href="{% url 'register_'%}" id="sign-up-btn2">Register</a></p>
            </fieldset>
        </div>
    </form>
{% endblock login %}
