{% extends "base.html" %}
{% load static %}

{% block title %} Profile {% endblock title %}
{% block content%}
<div class="profile-container">
    <!-- Profile Header -->
    <header class="profile-header">
        {% if user.username %}
        <h1>
            <strong>{{ user.username|upper }}'S</strong> Profile
        </h1>
        {% endif %}
    </header>

    <div class="profile-content">
        <!-- User Information Section -->
        <section class="user-info">
            <div class="info-item">
                {% if user.profile.location %}
                <h3>Location</h3>
                    <a href="javascript:void(0)" onclick="openModal('locationModal')">View</a>
                {% endif %}
            </div>

            <div class="info-item">
                {% if user.profile.about %}
                <h3>About</h3>
                <a href="javascript:void(0)" onclick="openModal('aboutModal')">View</a>
                {% endif %}
            </div>
        </section>

        <!-- Courses Section -->
        <section class="user-courses">
            <h2>Your Courses & Progress</h2>
            {% if courses %}
            <ul class="course-list">
                {% for course in courses %}
                <li>
                    <div class="course-item">
                        <h4>{{ course.course.name }}</h4>
                        <span class="course-status">
                            <strong>Stage: {{course.status}}</strong>
                            Score: {{ course.score|default:"N/A" }}
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>You have not registered for any courses yet.</p>
            {% endif %}
        </section>
    </div>
    
</div>
<!-- <script>  src="{% static 'js/log_reg.js' %}" </script> -->
<!-- Modals -->
<div id="locationModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('locationModal')">&times;</span>
        <h2>Location</h2>
        <p>
            <a href="http://maps.google.com/?q={{ user.profile.location }}" target="_blank">
                {{ user.profile.location|default:"Not set" }}
            </a>
        </p>
    </div>
</div>

<div id="aboutModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('aboutModal')">&times;</span>
        <h2>About</h2>
        <div>
            <p>{{ user.profile.about|default:"No information yet" }}</p>
        </div>
    </div>
</div>

{% endblock %}